/* Import font styles */
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-BookItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-UltraItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-XLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/Gotham-XLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamBookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamLightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium_1.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/GothamMediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Apply font to body */
body {
  font-family: 'Gotham', sans-serif;
}


.selector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

  /* CSS for the loading screen */
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* Set your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the loading screen is on top of other elements */
  }

  #offline-message {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the loading screen is on top of other elements */
  }

  /* Bottom Sheet */
.bottom-sheet {
  position: fixed;
  bottom: -100%; /* Initially hidden off-screen */
  left: 0;
  width: 100%;
  height:400px;
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-out;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}



.handle {
  width: 100px;
  height: 5px;
  background-color: #ccc;
  position:absolute;
  top:-20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 10px;
}
