@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.shadow-inner {
  box-shadow: inset 0 -60px 40px 0 rgba(0, 0, 0, 0.8);
}
.swipe-container::-webkit-scrollbar {
  display: none;
}

.swipe-container {
  scroll-snap-type: x mandatory;
}