@tailwind base;
@tailwind components;
@tailwind utilities;

@supports(padding:max(0px)) {
  body, header, footer {
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}
.shadow-inner {
  box-shadow: inset 0 -60px 40px 0 rgba(0, 0, 0, 0.8);
}
.swipe-container::-webkit-scrollbar {
  display: none;
}

.swipe-container {
  scroll-snap-type: x mandatory;
}