<div class="search-container">
    <input type="search" class="apple-search-input" placeholder="Search">
</div>

<div class="mx-4 my-5">
    <img class="rounded-xl object-cover h-40 w-full" src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80">
</div>

<div class="ml-4 my-5 flex gap-4 overflow-x-scroll">
    <div class="w-20 h-20 min-w-[80px]">
        <img class="w-full h-full rounded-full object-cover" src="https://images.unsplash.com/photo-1588516903720-8ceb67f9ef84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=444&q=80">
    </div>
    <div class="w-20 h-20 min-w-[80px]">
        <img class="w-full h-full rounded-full object-cover" src="https://images.unsplash.com/photo-1588516903720-8ceb67f9ef84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=444&q=80">
    </div>
    <div class="w-20 h-20 min-w-[80px]">
        <img class="w-full h-full rounded-full object-cover" src="https://images.unsplash.com/photo-1588516903720-8ceb67f9ef84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=444&q=80">
    </div> 
    <div class="w-20 h-20 min-w-[80px]">
        <img class="w-full h-full rounded-full object-cover" src="https://images.unsplash.com/photo-1588516903720-8ceb67f9ef84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=444&q=80">
    </div> 
    <div class="w-20 h-20 min-w-[80px]">
        <img class="w-full h-full rounded-full object-cover" src="https://images.unsplash.com/photo-1588516903720-8ceb67f9ef84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=444&q=80">
    </div> 
    <div class="w-20 h-20 min-w-[80px]">
        <img class="w-full h-full rounded-full object-cover" src="https://images.unsplash.com/photo-1588516903720-8ceb67f9ef84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=444&q=80">
    </div> 
</div>