<img class="mt-12 mx-auto" src="https://i.ibb.co/fdYWd0T/Group-55.png">

<img class="absolute bottom-8 left-2" src="../assets/Vector.png">

<div class="absolute bottom-12 max-w-[345px] px-4">
    <h1 class="w-full text-neutral-50 text-5xl font-normal tracking-[3.84px]">
        Log In
    </h1>
    <p class="text-neutral-50 mt-[24px] w-[265px] text-opacity-75 text-lg font-normal tracking-wider">All data is kept anonymous. Change your display name in “Profile”. </p>
    
    <input placeholder="Username" class="px-5 text-lg w-[350px] mt-[28px] rounded-xl h-[58px] inline-flex items-center justify-center space-x-2 bg-neutral-50" type="text" id="username" name="username" required>
    
    <input placeholder="Password" class="px-5 text-lg w-[350px] mt-[20px] rounded-xl h-[58px] inline-flex items-center justify-center space-x-2 bg-neutral-50" type="text" id="password" name="password" required>
    
    <button onclick="loadComponent('home', true)"
        class="w-[245px] mt-[20px] rounded-xl h-[58px] inline-flex items-center justify-center space-x-2 bg-[#FFCE04]">
        <span class="text-center text-zinc-800 text-xl font-medium tracking-wider mr-5">Log In</span>
        <img src="../assets/Login.svg">
    </button>

    <p class="text-neutral-50 mt-[24px] text-opacity-75 text-lg font-normal tracking-wider">Don’t have an account yet?</p>
    <button onclick="loadComponent('home', true)"
        class="w-[245px] mt-[28px] rounded-xl h-[58px] inline-flex items-center justify-center space-x-2 bg-neutral-50">
        <span class="text-center text-zinc-800 text-xl font-medium tracking-wider mr-5">Sign Up</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <path d="M10 15H20M15 20V10M11.25 27.5H18.75C25 27.5 27.5 25 27.5 18.75V11.25C27.5 5 25 2.5 18.75 2.5H11.25C5 2.5 2.5 5 2.5 11.25V18.75C2.5 25 5 27.5 11.25 27.5Z" stroke="#303030" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>

