<div class="mx-4 my-5">
    <h1 class="text-white text-4xl font-sans">Notifications</h1>
</div>
<div class="flex flex-col justify-center mx-4 h-full">
    <div id="recentListContainer">
        <p class="text-lg opacity-75 font-sans text-white font-semibold">Unread</p>
        <div class="mt-4" id="recentList">
            <div class="rounded-2xl w-full h-20 flex justify-start items-center mb-3 last:mb-0">
                <style>
                    .crazy {
                        user-select: none;
                        user-drag: none;
                        /* Standard syntax */
                        -webkit-user-drag: none;
                        /* Safari/Chrome */
                        -webkit-touch-callout: none;
                        /* Disable long-press on iOS Safari */
                    }
                </style>
                <img id="img" class="crazy object-cover rounded-xl h-16 w-16 ml-1.5"
                    src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
                <div class="text-white font-light ml-3">
                    <p id="name" class="flex gap-1 mb-1">
                        Lauren Roberts
                    </p>
                    <p id="username" class="text-xs opacity-75 max-w-[14rem] line-clamp-2">
                        Et ad aliquip labore enim ipsum irure dolore ea. Dolor sint minim commodo mollit aliqua cillum
                        laborum velit nostrud. Irure proident adipisicing sunt ullamco proident dolor id sint ea. Ad
                        consequat in ullamco tempor reprehenderit do fugiat excepteur et tempor. Esse id anim sint
                        dolor. Irure nisi in exercitation ut voluptate quis ad in sit est incididunt. Elit sint esse
                        cupidatat nisi.
                    </p>
                </div>
            </div>

            <div class="rounded-2xl w-full h-20 flex justify-start items-center mb-3 last:mb-0">
                <img id="img" class="object-cover rounded-xl h-16 w-16 ml-1.5"
                    src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
                <div class="text-white font-light ml-3">
                    <p id="name" class="flex gap-1 mb-1">
                        Lauren Roberts
                    </p>
                    <p id="username" class="text-xs opacity-75 max-w-[14rem] line-clamp-2">
                        Et ad aliquip labore enim ipsum irure dolore ea. Dolor sint minim commodo mollit aliqua cillum
                        laborum velit nostrud. Irure proident adipisicing sunt ullamco proident dolor id sint ea. Ad
                        consequat in ullamco tempor reprehenderit do fugiat excepteur et tempor. Esse id anim sint
                        dolor. Irure nisi in exercitation ut voluptate quis ad in sit est incididunt. Elit sint esse
                        cupidatat nisi.
                    </p>
                </div>
            </div>

            <div class="rounded-2xl w-full h-20 flex justify-start items-center mb-3 last:mb-0">
                <img id="img" class="object-cover rounded-xl h-16 w-16 ml-1.5"
                    src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80">
                <div class="text-white font-light ml-3">
                    <p id="name" class="flex gap-1 mb-1">
                        Lauren Roberts
                    </p>
                    <p id="username" class="text-xs opacity-75 max-w-[14rem] line-clamp-2">
                        Et ad aliquip labore enim ipsum irure dolore ea. Dolor sint minim commodo mollit aliqua cillum
                        laborum velit nostrud. Irure proident adipisicing sunt ullamco proident dolor id sint ea. Ad
                        consequat in ullamco tempor reprehenderit do fugiat excepteur et tempor. Esse id anim sint
                        dolor. Irure nisi in exercitation ut voluptate quis ad in sit est incididunt. Elit sint esse
                        cupidatat nisi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('contextmenu', function (event) {
        if (event.target.tagName === 'IMG') {
            event.preventDefault();
        }
    });
</script>